<app-breadcrumb [title]="'Login'" [breadcrumb]="'Login'"></app-breadcrumb>
<!-- section start -->
<section class="login-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Login</h3>
                <div class="theme-card">
                    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="theme-form">
                        <div class="form-group">
                            <label >Email</label>
                            <input type="text" class="form-control" formControlName="email" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required="">
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label >Password</label>
                            <input type="password"  formControlName="password" class="form-control" placeholder="Enter your password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required="">
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>
                        <div class="form-terms">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" formControlName="rememberMe"
                                       id="rememberMe">
                                <label class="custom-control-label"
                                       for="rememberMe">Remember me</label>

                            </div>
                        </div>
                        <button class="btn btn-solid" type="submit" >Login</button>
                    </form>
                </div>
            </div>
<!--            <div class="col-lg-6 right-login">-->
<!--                <h3>New Customer</h3>-->
<!--                <div class="theme-card authentication-right">-->
<!--                    <h6 class="title-font">Create A Account</h6>-->
<!--                    <p>Sign up for a free account at our store. Registration is quick and easy. It allows you to be able to order from our shop. To start shopping click register.</p>-->
<!--                    <button class="btn btn-solid">Create an Account</button>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</section>
<!--Section ends-->
