<!--&lt;!&ndash; thank-you section start &ndash;&gt;-->
<!--<section class="section-b-space light-layout">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md-12">-->
<!--                <div class="success-text">-->
<!--                    <i class="fa fa-check-circle" aria-hidden="true"></i>-->
<!--                    <h2>Orders</h2>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--&lt;!&ndash; Section ends &ndash;&gt;-->
<!--&lt;!&ndash; order-detail section start &ndash;&gt;-->
<!--<section class="section-b-space">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-6">-->
<!--                <div class="product-order">-->
<!--                    <h3>your orders details</h3>-->
<!--                    <div class="row product-order-detail">-->
<!--&lt;!&ndash;                        <div class="col-3">&ndash;&gt;-->
<!--&lt;!&ndash;                            <img src="assets/images/product/fashion/1.jpg" alt="" class="img-fluid">&ndash;&gt;-->
<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                        <div class="col-3 order_detail">-->
<!--                            <div>-->
<!--                                <h4>Order Id</h4>-->
<!--                                <h5>{{order.orderId}}</h5>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-3 order_detail">-->
<!--                            <div>-->
<!--                                <h4>Quantity</h4>-->
<!--&lt;!&ndash;                                <h5>{{order.productOrder.nbProd}}</h5>&ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-3 order_detail">-->
<!--                            <div>-->
<!--                                <h4>price</h4>-->
<!--&lt;!&ndash;                                <h5>{{order.productOrder.price}}</h5>&ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--&lt;!&ndash;                    <div class="total-sec">&ndash;&gt;-->
<!--&lt;!&ndash;                        <ul>&ndash;&gt;-->
<!--&lt;!&ndash;                            <li>subtotal <span>$55.00</span></li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <li>shipping <span>$12.00</span></li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <li>tax(GST) <span>$10.00</span></li>&ndash;&gt;-->
<!--&lt;!&ndash;                        </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                    <div class="final-total">-->
<!--                        <h3>total <span>{{order.totalAmount}}</span></h3>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-6">-->
<!--                <div class="row order-success-sec">-->
<!--                    <div class="col-sm-6">-->
<!--                        <h4>summery</h4>-->
<!--                        <ul class="order-detail">-->
<!--                            <li>order ID: {{order.orderId}}</li>-->
<!--&lt;!&ndash;                            <li>Order Date: {{orderEntity.created}}</li>&ndash;&gt;-->
<!--                            <li>Order Total: {{order.totalAmount}}</li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="col-sm-6">-->
<!--                        <h4>shipping address</h4>-->
<!--                        <ul class="order-detail">-->
<!--&lt;!&ndash;                            <li>{{order.user.adresse}}</li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <li>{{order.user.phone}}</li>&ndash;&gt;-->
<!--                        </ul>-->
<!--                    </div>-->

<!--                    <div class="col-sm-12 payment-mode">-->
<!--                        <h4>payment method</h4>-->
<!--                        <p>Pay on Delivery (Cash/Card). Cash on delivery (COD) available. Card/Net banking acceptance subject to device availability.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!-- Section ends -->

<section class="section-b-space light-layout">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="success-text">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <h2>Orders</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="batchDelete" class="category-table custom-datatable">
    <div class="table-responsive">
        <table id="basic-datatable"
               class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline"  aria-describedby="page-heading">
            <thead>
            <tr >
                <th scope="col" >OrderId </th>
                <th scope="col" >Order Date</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let order of order_list">
                <td>{{order.id }} </td>
                <td>{{order.created }} </td>
                <td>
                    <button type="submit" class="btn-solid btn"  (click)="readOrder(order)" >
                        Order Detail
                    </button>
<!--                    <button  class = "text-danger btn btn-sm"> <i class="fa fa-pencil font-size-18 "></i></button>-->
<!--                    <button  class=" text-danger btn btn-sm"><i class="fa fa-trash font-size-18 "></i>-->
<!--                    </button>-->
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
